.background {
    -fx-background-image: url("images/map.png");
    -fx-background-size: 1920px 1080px;
    -fx-background-repeat: no-repeat;
}

.scoreLabel {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.hotbar {
    -fx-background-color: rgba(30, 30, 30, 0.0);
    -fx-padding: 15;
    -fx-background-radius: 10;
}

.slot {
    -fx-border-color: #AAAAAA;
    -fx-border-width: 2;
    -fx-border-radius: 100;
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #B12BF7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-background-radius: 15px;
    -fx-padding: 10 40 10 40;
}

.button:hover {
    -fx-background-color: #f72add;
    -fx-cursor: hand;
}